<html>
    <meta charset="utf-8" /> 
    <div id='app'>
        {{message}}
        <span v-bind:title="message">this is span</span>
        <div>
            <p v-if="seen">v-if学习</p>
        </div>
        <div>
            <span>v-for指令学习</span>
            <ul>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ul>
        </div>
        <div>
            <span>v-on指令学习</span>
            <button v-on:click="reverseMessage">v-on指令学习</button>
        </div>
        <div>
            <span>v-model指令学习, 双向绑定</span>
            <input v-model="message">
        </div>
        <div>
            <span>vue 组件学习</span>
            <ul>

            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "Hello Vue.",
                seen: false,
                todos: [
                    {text: 'learning vue1.'},
                    {text: 'learning vue2.'},
                    {text: 'learning vue3.'}
                ]
            },
            methods: {
                reverseMessage: function(){
                    this.message = this.message.split('').reverse().join('');
                }
            }
        });
        Vue.component(
            'mycomponent',
            {
                props: ['todo'],
                template: '<li>{{todo.text}}</li>'
            }
        )
    </script>
</html>